html, body {
    height: 100%;
}
body {
    padding-bottom: 50px;
}
a:visited, a:link, a:active {
    text-decoration: inherit;
    color: inherit;
}
.disabled {
    pointer-events: none;
    cursor: default;
 }
/* --- FONT --- FONT --- FONT --- FONT --- */
.roboto {
    font-family: 'Roboto', sans-serif;
}
.lato {
    font-family: 'Lato', sans-serif;
}
.light {
    font-weight: 300;
}
.strong {
    font-weight: 700;
}
._075 {
    font-size: 0.75em;
}
._085 {
    font-size: 0.85em;
}
._095 {
    font-size: 0.95em;
}
._1125 {
    font-size: 1.125em;
}
._125 {
    font-size: 1.25em;
}
._2 {
    font-size: 2em;
}
._3 {
    font-size: 3em;
}
._4 {
    font-size: 4em;
}
.l-sp {
    letter-spacing: 0.125em;
}
.l-sp-02 {
    letter-spacing: 0.015em;
}
.underline {
    text-decoration: underline;
}
.jumbotron h1 {
    font-size: 5em;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}
.jumbotron p {
    font-size: 2.25em;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}
.input-fix {
    padding: 25px;
    letter-spacing: 1px;
    border-radius: 3px;
}
.type-cap {
    text-transform: uppercase;
}
/* --- COLOR --- COLOR --- COLOR --- COLOR --- */
.type-gray {
    color: #B3B5BE;
}
.type-green {
    color: #90C45B;
}
.type-d-gray {
    color: #4D4F56;
}
.type-f-gray {
    color: #9B9DA0;
}
.type-red {
    color: #E3694C;
}
.type-white {
    color: #FFFFFF;
}
.gray {
    background-color: rgba(179, 181, 190, 0.4);
}
.green {
    background-color: #90C45B;
}
.white {
    background-color: #FFFFFF;
}
.border-right {
    border-top: 1px solid rgba(179, 181, 190, 0.4);
    border-right: 1px solid rgba(179, 181, 190, 0.4);
}
.border-left {
    border-top: 1px solid rgba(179, 181, 190, 0.4);
    /* border-left: 1px solid rgba(179, 181, 190, 0.4); */
}
/* --- LAYOUT --- LAYOUT --- LAYOUT --- LAYOUT --- */
.no-padding {
    padding-right: 0px;
    padding-left: 0px;
}
.padding-sm {
    padding: 1%;
}
.padding-md {
    padding: 2.5%;
}
.padding-lg {
    padding: 5%;
}
.margin-sm {
    margin-top: 1%;
    margin-bottom: 1%;
}
.margin-md {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.margin-lg {
    margin-top: 8%;
    margin-bottom: 3.75%;
}
.margin {
    margin: 1% 1%;
}
.margin-top-sm {
    margin-top: 1%;
}
.margin-top-md {
    margin-top: 2.5%;
}
.margin-top-lg {
    margin-top: 5%;
}
.margin-hz-fix {
    margin-right: 2%;
    margin-left: 1%;
}
.margin-hz-sm {
    margin-right: 1%;
    margin-left: 1%;
}
.tile-event {
    min-width: 10em;
    min-height: 10em;
    width: auto;
    height: auto;
    margin-right: 3%;
}
.padding-t-r {
    padding-top: 1.5%;
    padding-right: 8%;
}
.padding-t-l {
    padding-top: 1.5%;
    padding-left: 8%;
}
/* ---  BUILDS --- BUILDS --- BUILDS --- BUILDS */
/* .form-marker>.col-md-4,form-marker>.col-sm-6,form-marker>.col-md-12,form-marker>.col-sm-12,form-marker>.col-xs-12 {
    padding-right: 10px;
    padding-left: 10px;
} */
.footer {
    /* padding: 0.5%; */
    border-top: 1px solid rgba(179, 181, 190, 0.4);
}
#expand {
    margin:auto;
    display:block;
    padding:16px 32px;
    border: 1px solid rgba(179, 181, 190, 0.4);
    border-radius: 3px;
}
#expand:hover, #expand:active, #expand:focus, #expand:visited {
    background-color: white;
    color: #90C45B;
    border-color: #90C45B;
}
#join {
    /* margin: auto;
    display: block; */
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 3px;
}
#join:hover, #join:active, #join:focus, #expand:visited {
    background-color: white;
    color: #E3694C  ;
    border-color: #E3694C;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
.nav>li>a {
    padding: 15px 0px;
}
.navbar-nav>li>a {
    line-height: 17.5px;
}
.bar-green-1 {
    /* text-decoration: underline !important; */
    /* text-decoration-color: #90C45B !important; */
}
.bar-green-1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -2px;
    left: -2px;
    background-color: #90C45B;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    /* -webkit-transition: all 0.3s ease-in-out 0s; */
    /* transition: all 0.3s ease-in-out 0s; */
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease
  }
  
  .bar-green-1:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    width: 100%;
  }
/*
  .bar-greenhover {
      border-bottom: 3px solid #90C45B;
      width: 50%;
  } */

/* LEFT TO RIGHT */
.bar-green {
    display: inline-block;
    /* margin-bottom: 3.5px; */
}
.bar-green:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    }
.bar-green:hover:after, .bar-green:active:after, .bar-green:focus:after {
    width: 43%;
    background: #90C45B;
    /* margin-top: 3.5px; */
}
/* --- IMAGES --- IMAGES --- IMAGES --- IMAGES */
.border-fix {
    border-radius: 3px;
}
/* .hero-img {
    background-image: url('/images/Hero.png');
    height: 50%; */
    /* height: 50%; */
    /* width: 100%; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
    /* border-radius: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
} */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
div #landing-page {
    background-image: url('/images/Background.jpg');
    background-size: cover;
    height: 100%;
    /* z-index: -1; */
}
.bgimage {
    width:100%;
    height:500px;
    background: url('/images/Hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  .bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }
  .overlay{
      background: url('/images/Overlay.svg');
      /* z-index: 1001; */
    /* position:relative; */
    /* display:inline-block; */
  }
  /* .overlay:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%; */
    /* display:inline-block; */
    /* background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);  */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);  */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);  */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );  */
    /* IE6-9 */
  /* } */

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */

